{:source-paths ["src"]

 :dependencies [[reagent "0.9.1" :exclusions [cljsjs/react cljsjs/react-dom]]
                [rn-shadow-steroid "0.1.1"]
                [re-frame "0.11.0"]]

 :builds {:dev
          {:target     :react-native
           :init-fn    rnshadowcljs.core/init
           :output-dir "app"
           :devtools   {:autoload   true
                        :after-load steroid.rn.core/reload}}

          :test
          {:target    :node-test
           :output-to "out/node-tests.js"
           :autorun   true}}}
